html{
    background-image: url("img/bg.jpg");
}
.animated-name{
    position: relative;
}
.animated-name::before {
    content: '';
    background-color: rgb(156 163 175);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.animated-name:hover::before {

    height: 100%;
}
.down-arrow {
    position: absolute;
    top: 90vh;
    left: 50%;
    width: 0;
    height: 30px;
    border: 2px solid;
    border-radius: 2px;
}

.down-arrow:after {
    content: " ";
    position: absolute;
    top: 7px;
    left: -9px;
    width: 18px;
    height: 20px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
    transform: rotateZ(45deg);
}
.down-arrow {

    animation: jumpInfinite 1.5s infinite;
}

@keyframes jumpInfinite {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: 20px;
    }
    100% {
        margin-top: 0;
    }
}
.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.skills-grow:hover .progress-bar div {
    animation: grow-bar 1s ease-in-out forwards;
}


@keyframes grow-bar {
    0% {
        width: 0;
    }
    100% {
        width: var(--target-width);
    }
}

.python{
    --target-width: 80%;
}
.js{
    --target-width: 50%;
}
.html{
    --target-width: 80%
}
.java {
    --target-width: 60%;
}
.php{
    --target-width: 60%;
}
.symfony{
    --target-width: 60%;
}
.prestashop{
    --target-width: 60%;
}
.vue{
    --target-width: 40%;
}
.boostrap{
    --target-width: 80%;
}
.wordpress{
    --target-width: 80%;
}
.google{
    --target-width: 60%;
}
.normes{
    --target-width: 80%;
}
.github{
    --target-width: 80%;
}
.docker{
    --target-width: 40%;
}
.sql{
    --target-width: 60%;
}